.git
.gitignore
.recommenders/
.metadata/
test/
Project2CP/
imad/
JSR268TK/JSR268TK-2/.settings
JSR268TK/JSR268TK-2/bin/
JSR268TK/JSR268TK-2/config
JSR268TK/JSR268TK-2/docs
JSR268TK/JSR268TK-2/guifiles
JSR268TK/JSR268TK-2/lib
JSR268TK/JSR268TK-2/.classpath
JSR268TK/JSR268TK-2/.project
JSR268TK/JSR268TK-2/jsr268gp/applet
JSR268TK/JSR268TK-2/jsr268gp/cad
JSR268TK/JSR268TK-2/jsr268gp/capfile
JSR268TK/JSR268TK-2/jsr268gp/converter
JSR268TK/JSR268TK-2/jsr268gp/fx
JSR268TK/JSR268TK-2/jsr268gp/loader
JSR268TK/JSR268TK-2/jsr268gp/util
JSR268TK/JSR268TK-2/jsr268gp/main
auth-back/.gradle
auth-back/.settings
auth-back/bin
auth-back/build
auth-back/gradle
auth-back/.project
auth-back/build.gradle
auth-back/gradlew
auth-back/gradlew.bat
auth-back/HELP.md
auth-back/settings.gradle
*.class